  .image-slideshow {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    height: 40vh;
  }
  
  .images-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vh;
    overflow: hidden; /* Add this to hide the overflowing images */
  }

  .images-container img {
    border-radius: 5px;
    position: absolute;
    transition: transform 1s ease;
    border: 1px solid #DEB992;
  }

  button {
    background-color: transparent;
    border: none;
    color: #1BA098;
    cursor: pointer;
  }
  
  .arrow {
    height: 40px;
  }
  .arrow:hover {
    opacity: 60%;
  }

  