.image-component {
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: relative;
    transition: all 0.5s ease;
    border-radius: 10px;
    border: 1px solid #1BA098;
  }
  
  .image-component img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(.5px);
  }
  
  .image-component.expanded {
    width: 50vh;
    height: auto;
    position: absolute;
    top: 100px;
    
    z-index: 999;
    border: none;
  }
  
  .image-component.expanded img {
    width: 100%;
    height: 50%;
    object-fit: contain;
  }
  
  .image-component.expanded:hover,
  .image-component:hover {
    cursor: pointer;
  }
